@model Models.CourseType

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>CourseType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.ID">ویرایش</a> |
    <a class="btn btn-danger" asp-action="Index">بازگشت</a>
</div>
