@model IEnumerable<VmOption>

@{
    Layout = null;
}

<style>
    td {
        padding: 4px !important;
    }
    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #fff;
    }

        /* Style the buttons inside the tab */
        .tab button {
            width: 25%;
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }

    .tablinks {
        float: right !important;
    }

    th, tr {
        text-align: center;
    }

    .red {
        background-color: red !important;
    }

    .slideup, .slidedown {
        max-height: 0;
        overflow-y: hidden;
        -webkit-transition: max-height .5s ease-in-out;
        -moz-transition: max-height .5s ease-in-out;
        -o-transition: max-height .5s ease-in-out;
        transition: max-height .5s ease-in-out;
    }

    .slidedown {
        max-height: 2000px;
    }

    .img-deactive {
        background-image: url("/dashboard/img/arrow/down-arrow.png");
        height: 40px !important;
        width: 40px !important;
        float: left !important;
        background-repeat: no-repeat;
    }

    .img-active {
        background-image: url("/dashboard/img/arrow/up-arrow.png");
        height: 40px !important;
        width: 40px !important;
        float: left !important;
        background-repeat: no-repeat;
    }
    .card-content{
        padding:8px 20px !important;
    }
</style>

<div class="card">
    <div class="card-header" data-background-color="red">
        <h4 class="title">
            رنگ
            <i style="float:left" class="material-icons">palette</i>
        </h4>
        <p class="category">
            تعداد :
            @Model.Count()
            <button id="show-create" class="btn btn-sm btn-danger">جدید</button>
            <div id="show-table" style="width: 73% !important;position: absolute;text-align: left;"
                 class="img-deactive "></div>
        </p>

    </div>
    <div id="table" class="card-content table-responsive slideup">
        <table class="table" style="text-align:center !important">
            <thead class="text-primary">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Title)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            <button type="button" rel="tooltip" title=""
                                    class="btn btn-primary btn-simple btn-xs"
                                    data-original-title="ویرایش"
                                    onclick="location.href='@Url.Action("EditColor", "Option", new { id = item.ID })'">
                                <i class="material-icons">edit</i>
                                <div class="ripple-container"></div>
                            </button>
                            <button type="button" rel="tooltip" title=""
                                    class="btn btn-primary btn-simple btn-xs delete-color"
                                    data-original-title="حذف"
                                    data-us=@item.ID>
                                <i class="material-icons">delete</i>
                                <div class="ripple-container"></div>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="create" class="card-content table-responsive slideup">

    </div>
</div>


