
@font-face {
    font-family: IRANSans;
    src: url(../../fonts/IRANSans-Medium-web.ttf);
}

header {
    background-image: url(../img/x.jpg);
}
.single-blog-item {
    background-image:url(../img/Body/55.png)
}

.fancyTab {
    text-align: center;
    background-color: #eee;
    box-shadow: 0 0 0 1px #ddd;
    transition: top .2s;
    padding-top: 5px;
    height: 50px
}

    .fancyTab.active {
        top: 0;
        transition: top .2s;
    }

.whiteBlock {
    display: none;
}

.fancyTab.active .whiteBlock {
    display: block;
    height: 2px;
    bottom: -2px;
    background-color: deepskyblue;
    width: 99%;
    position: absolute;
    z-index: 1;
}

.fancyTab a {
    font-size: 1.65em;
    font-weight: 300;
    transition: .2s;
    color: #333;
}

.fancyTab .hidden-xs {
    white-space: nowrap;
}

.fancyTabs {
    border-bottom: 2px solid #ddd;
    margin: 15px 0 0;
}

li.fancyTab a {
    padding-top: 15px;
    top: -15px;
    padding-bottom: 0;
}

li.fancyTab.active a {
    padding-top: inherit;
}

.fancyTab .fa {
    font-size: 40px;
    width: 100%;
    padding: 15px 0 5px;
    color: #666;
}

.fancyTab.active .fa {
    color: deepskyblue;
}

.fancyTab a:focus {
    outline: none;
}

.fancyTabContent {
    border-color: transparent;
    box-shadow: 0 -2px 0 -1px #fff, 0 0 0 1px #ddd;
    padding: 30px 15px 15px;
    position: relative;
    background-color: #fff;
}

.nav-tabs > li.fancyTab.active > a,
.nav-tabs > li.fancyTab.active > a:focus,
.nav-tabs > li.fancyTab.active > a:hover {
    border-width: 0;
}

.nav-tabs > li.fancyTab:hover {
    background-color: deepskyblue;
    box-shadow: 0 0 0 1px #ddd;
}

.nav-tabs > li.fancyTab.active:hover {
    background-color: #fff;
    box-shadow: 1px 1px 0 1px #fff, 0 0px 0 1px #ddd, -1px 1px 0 0px #ddd inset;
}

.nav-tabs > li.fancyTab:hover a {
    border-color: transparent;
}

.nav.nav-tabs .fancyTab a[data-toggle="tab"] {
    background-color: transparent;
    border-bottom: 0;
}

.nav-tabs > li.fancyTab:hover a {
    border-right: 1px solid transparent;
}

.nav-tabs > li.fancyTab > a {
    margin-right: 0;
    border-top: 0;
    padding-bottom: 30px;
    margin-bottom: -30px;
}

.nav-tabs > li.fancyTab {
    margin-right: 0;
    margin-bottom: 0;
}

    .nav-tabs > li.fancyTab:last-child a {
        border-right: 1px solid transparent;
    }

    .nav-tabs > li.fancyTab.active:last-child {
        border-right: 0px solid #ddd;
        box-shadow: 0px 2px 0 0px #fff, 0px 0px 0 1px #ddd;
    }

.fancyTab:last-child {
    box-shadow: 0 0 0 1px #ddd;
}

.tabs .nav-tabs li.fancyTab.active a {
    box-shadow: none;
    top: 0;
}


.fancyTab.active {
    background: #fff;
    box-shadow: 1px 1px 0 1px #fff, 0 0px 0 1px #ddd, -1px 1px 0 0px #ddd inset;
    padding-bottom: 30px;
}

.arrow-down {
    display: none;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 22px solid #ddd;
    position: absolute;
    top: -1px;
    left: calc(50% - 20px);
}

.arrow-down-inner {
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 12px solid #fff;
    position: absolute;
    top: -22px;
    left: -18px;
}

.fancyTab.active .arrow-down {
    display: block;
}

@media (max-width: 1200px) {

    .fancyTab .fa {
        font-size: 36px;
    }

    .fancyTab .hidden-xs {
        font-size: 22px;
    }
}


@media (max-width: 992px) {

    .fancyTab .fa {
        font-size: 33px;
    }

    .fancyTab .hidden-xs {
        font-size: 18px;
        font-weight: normal;
    }
}


@media (max-width: 768px) {

    .fancyTab > a {
        font-size: 18px;
    }

    .nav > li.fancyTab > a {
        padding: 15px 0;
        margin-bottom: inherit;
    }

    .fancyTab .fa {
        font-size: 30px;
    }

    .nav-tabs > li.fancyTab > a {
        border-right: 1px solid transparent;
        padding-bottom: 0;
    }

    .fancyTab.active .fa {
        color: #333;
    }
}

        * {
            box-sizing: border-box;
        }

        /* Three column layout */
        .side {
            float: left;
            width: 15%;
            margin-top: 10px;
        }

        .middle {
            margin-top: 10px;
            float: left;
            width: 70%;
        }

        /* Place text to the right */
        .right {
            text-align: right;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* The bar container */
        .bar-container {
            width: 100%;
            background-color: #f1f1f1;
            text-align: center;
            color: white;
            border-radius: 15px
        }

        /* Individual bars */
        .bar-5 {
            width: 85%;
            height: 20px;
            background-color: rgba(0,0,0,.2);
            border-radius: 15px
        }

        .bar-4 {
            width: 8%;
            height: 20px;
            background-color: rgba(0,0,0,.2);
            border-radius: 15px
        }

        .bar-3 {
            width: 4%;
            height: 20px;
            background-color: rgba(0,0,0,.2);
            border-radius: 15px
        }

        .bar-2 {
            width: 3%;
            height: 20px;
            background-color: rgba(0,0,0,.2);
            border-radius: 15px
        }
        /* Responsive layout - make the columns stack on top of each other instead of next to each other */
        @media (max-width: 400px) {
            .side, .middle {
                width: 100%;
            }

            .right {
                display: none;
            }
        }
