
@{
    ViewBag.Title = "دوره آموزشی Html";
}
<style>

</style>

<div>
    <h3 style="text-align:center;padding-top:85px">دسترسی سریع</h3>
    <br />
    <div class="container wow fadeInDown" style="margin-bottom:25px;text-align:center">
        <a href="#" style="text-decoration:none">
            <span><img src="~/home/img/About/html.png" class="imgsari" title=" htmlفیلم های آموزشی" /></span>
        </a>
        <a href="#" style="text-decoration:none">
            <span><img src="~/home/img/About/css.png" class="imgsari" title=" cssفیلم های آموزشی" /></span>
        </a>
        <a href="#" style="text-decoration:none">
            <span><img src="~/home/img/About/jquery.png" class="imgsari" title=" jqueryفیلم های آموزشی" /></span>
        </a>
        <a href="#" style="text-decoration:none">
            <span><img src="~/home/img/About/csharp.png" class="imgsari" title=" c#فیلم های آموزشی" /></span>
        </a>

        <a href="#" style="text-decoration:none">
            <span><img src="~/home/img/About/mvc.png" class="imgsari" title=" mvcفیلم های آموزشی" /></span>
        </a>
        <a href="#" style="text-decoration:none">
            <span><img src="~/home/img/About/java.png" class="imgsari" title=" javaفیلم های آموزشی" /></span>
        </a>
        <a href="#" style="text-decoration:none">
            <span><img src="~/home/img/About/seo.png" class="imgsari" title=" seoفیلم های آموزشی" /></span>
        </a>
        <a href="#" style="text-decoration:none">
            <span><img src="~/home/img/About/cpp.png" class="imgsari" title=" c++فیلم های آموزشی" /></span>
        </a>
        <a href="#" style="text-decoration:none">
            <span><img src="~/home/img/About/bootstrap.png" class="imgsari" title=" bootstrapفیلم های آموزشی" /></span>
        </a>
        <a href="#" style="text-decoration:none">
            <span><img src="~/home/img/About/ajax.png" class="imgsari" title=" ajaxفیلم های آموزشی" /></span>
        </a>
    </div>
</div>
<div class="container row wow fadeInDown" style="margin-bottom:20px">
    <div class="col-lg-2 hidden-md hidden-sm hidden-xs"></div>
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <div style="width:100%;background-color:white;border:1px solid lightgray "class="single-course">
            <video controls style="width:100%">
                <source src="~/home/video/4.mp4" type="video/mp4">
                <source src="mov_bbb.ogg" type="video/ogg">
                Your browser does not support HTML5 video.
            </video>
            <div style="direction:rtl;padding:10px">
                <h3 style="color:darkblue"> آموزش html 5 جلسه اول </h3>
                <br />
                <p>در این جلسه مقدمات و ملزومات طراحی سایت مورد بررسی قرار خواهد گرفت </p>
                <br />
                <div>
                    <div>
                        <input type="checkbox" id="checkbox" />
                        <label for="checkbox">
                            <svg id="heart-svg" viewBox="467 392 58 57" xmlns="http://www.w3.org/2000/svg"><g id="Group" fill="none" fill-rule="evenodd" transform="translate(467 392)"><path d="M29.144 20.773c-.063-.13-4.227-8.67-11.44-2.59C7.63 28.795 28.94 43.256 29.143 43.394c.204-.138 21.513-14.6 11.44-25.213-7.214-6.08-11.377 2.46-11.44 2.59z" id="heart" fill="#AAB8C2" /><circle id="main-circ" fill="#E2264D" opacity="0" cx="29.5" cy="29.5" r="1.5" /><g id="grp7" opacity="0" transform="translate(7 6)"><circle id="oval1" fill="#9CD8C3" cx="2" cy="6" r="2" /><circle id="oval2" fill="#8CE8C3" cx="5" cy="2" r="2" /></g><g id="grp6" opacity="0" transform="translate(0 28)"><circle id="oval1" fill="#CC8EF5" cx="2" cy="7" r="2" /><circle id="oval2" fill="#91D2FA" cx="3" cy="2" r="2" /></g><g id="grp3" opacity="0" transform="translate(52 28)"><circle id="oval2" fill="#9CD8C3" cx="2" cy="7" r="2" /><circle id="oval1" fill="#8CE8C3" cx="4" cy="2" r="2" /></g><g id="grp2" opacity="0" transform="translate(44 6)" fill="#CC8EF5"><circle id="oval2" transform="matrix(-1 0 0 1 10 0)" cx="5" cy="6" r="2" /><circle id="oval1" transform="matrix(-1 0 0 1 4 0)" cx="2" cy="2" r="2" /></g><g id="grp5" opacity="0" transform="translate(14 50)" fill="#91D2FA"><circle id="oval1" transform="matrix(-1 0 0 1 12 0)" cx="6" cy="5" r="2" /><circle id="oval2" transform="matrix(-1 0 0 1 4 0)" cx="2" cy="2" r="2" /></g><g id="grp4" opacity="0" transform="translate(35 50)" fill="#F48EA7"><circle id="oval1" transform="matrix(-1 0 0 1 12 0)" cx="6" cy="5" r="2" /><circle id="oval2" transform="matrix(-1 0 0 1 4 0)" cx="2" cy="2" r="2" /></g><g id="grp1" opacity="0" transform="translate(24)" fill="#9FC7FA"><circle id="oval1" cx="2.5" cy="3" r="2" /><circle id="oval2" cx="7.5" cy="2" r="2" /></g></g></svg>
                        </label>
                       <button style="border-radius:20px;background-color:deepskyblue;border:none;font-size:12PX!important;float:left;margin-top:20PX" class="btn btn-primary" type="button">
                                    افزودن به سبد خرید
                                </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container row wow fadeInDown" style="padding-bottom:30px">
    <div class="col-lg-8">
        <section id="fancyTabWidget" class="tabs t-tabs">
            <ul class="nav nav-tabs fancyTabs" role="tablist">

                <li class="tab fancyTab active">
                    <div class="arrow-down"><div class="arrow-down-inner"></div></div>
                    <a id="tab0" href="#tabBody0" role="tab" aria-controls="tabBody0" aria-selected="true" data-toggle="tab" tabindex="0"><span style="font-size:14px">مشخصات پکیج</span></a>
                    <div class="whiteBlock"></div>
                </li>

                <li class="tab fancyTab">
                    <div class="arrow-down"><div class="arrow-down-inner"></div></div>
                    <a id="tab1" href="#tabBody1" role="tab" aria-controls="tabBody1" aria-selected="true" data-toggle="tab" tabindex="0"><span style="font-size:14px">فصل های دوره</span></a>
                    <div class="whiteBlock"></div>
                </li>

                <li class="tab fancyTab">
                    <div class="arrow-down"><div class="arrow-down-inner"></div></div>
                    <a id="tab2" href="#tabBody2" role="tab" aria-controls="tabBody2" aria-selected="true" data-toggle="tab" tabindex="0"><span style="font-size:14px">نظرات کاربران</span></a>
                    <div class="whiteBlock"></div>
                </li>


            </ul>
            <div id="myTabContent" class="tab-content fancyTabContent" aria-live="polite">
                <div class="tab-pane fade active in" style="direction:rtl" id="tabBody0" role="tabpanel" aria-labelledby="tab0" aria-hidden="false" tabindex="0">
                    <div>
                        <div class="row">

                            <div class="col-md-12">
                                <h3>Html چیست ؟ </h3>
                                <p>
                                    در این جلسه مقدمات و ملزومات طراحی سایت مورد بررسی قرار خواهد گرفت
                                    در این جلسه مقدمات و ملزومات طراحی سایت مورد بررسی قرار خواهد گرفت
                                    در این جلسه مقدمات و ملزومات طراحی سایت مورد بررسی قرار خواهد گرفت
                                    در این جلسه مقدمات و ملزومات طراحی سایت مورد بررسی قرار خواهد گرفت
                                    در این جلسه مقدمات و ملزومات طراحی سایت مورد بررسی قرار خواهد گرفت
                                    در این جلسه مقدمات و ملزومات طراحی سایت مورد بررسی قرار خواهد گرفت
                                </p>
                                <h4 style="color:darkblue">پیش نیازها</h4>
                                <ul style="direction:rtl;text-align:right;font-size:16px;line-height:1.7em;list-style-type:none">
                                    <li style="font-size:12px"><span class="fa fa-check"></span>&nbsp;لیست آیتم یک</li>
                                    <li style="font-size:12px"><span class="fa fa-check"></span>&nbsp;لیست آیتم یک</li>
                                    <li style="font-size:12px"><span class="fa fa-check"></span>&nbsp;لیست آیتم یک</li>
                                </ul>
                            </div>
                            <br />
                        </div>

                    </div>

                    <div class="alert alert-warning">

                        <span style="height:50px;padding:15px;text-align:center">تذکر :</span>
                        <span style="font-size:12PX">برای درک بهتر دموی این دوره را نگاه کنید</span>
                    </div>
                </div>
                <div class="tab-pane  fade" id="tabBody1" role="tabpanel" aria-labelledby="tab1" aria-hidden="true" tabindex="0">
                    <div class="row">

                        <div class="col-md-12" style="direction:rtl">
                            <h4>فصل 1</h4>
                            <div class="fasl">
                                <span class="number">1</span>
                                <span style="padding-right:15px">مقدمه</span>
                                <span>
                                    <a href="#" style="color:deepskyblue;text-align:center">
                                        <img src="~/home/img/Body/11.png" style="float:left" />
                                    </a>
                                </span>
                                <span class="ghimat">رایگان</span>
                            </div>
                            <div class="fasl">
                                <span class="number" style="padding-right:19px;padding-left:19px">2</span>
                                <span style="padding-right:15px">مفاهیم اولیه</span>
                                <span>
                                    <a href="#" style="color:deepskyblue;text-align:center">
                                        <img src="~/home/img/Body/11.png" style="float:left" />
                                    </a>
                                </span>
                                <span class="ghimat">رایگان</span>
                            </div>
                            <div class="fasl">
                                <span class="number" style="padding-right:18px;padding-left:18px">3</span>
                                <span style="padding-right:15px">تگ های پایه</span>
                                <span>
                                    <a href="#" style="color:deepskyblue;text-align:center">
                                        <img src="~/home/img/Body/11.png" style="float:left" />
                                    </a>
                                </span>
                                <span class="ghimat">رایگان</span>
                            </div>

                            <h4>فصل 2</h4>
                            <div class="fasl">
                                <span class="number" style="padding-right:19px;padding-left:19px">4</span>
                                <span style="padding-right:15px">معرفی عکس و انواع آن</span>
                                <span>
                                    <a href="#" style="color:deepskyblue;text-align:center">
                                        <img src="~/home/img/Body/11.png" style="float:left" />
                                    </a>
                                </span>
                                <span class="ghimat">2.500 تومان</span>
                            </div>
                            <div class="fasl">
                                <span class="number" style="padding-right:18px;padding-left:18px">5</span>
                                <span style="padding-right:15px">کار با لیست ها</span>
                                <span>
                                    <a href="#" style="color:deepskyblue;text-align:center">
                                        <img src="~/home/img/Body/11.png" style="float:left" />
                                    </a>
                                </span>
                                <span class="ghimat">2.800 تومان</span>
                            </div>
                            <div class="fasl">
                                <span class="number" style="padding-right:18px;padding-left:18px">6</span>
                                <span style="padding-right:15px">لینک ها و کاربرد</span>
                                <span>
                                    <a href="#" style="color:deepskyblue;text-align:center">
                                        <img src="~/home/img/Body/11.png" style="float:left" />
                                    </a>
                                </span>
                                <span class="ghimat">3.100 تومان</span>
                            </div>

                            <h4>فصل 3</h4>
                            <div class="fasl">
                                <span class="number" style="padding-right:19px;padding-left:19px">7</span>
                                <span style="padding-right:15px">Iframe و Frameset</span>
                                <span>
                                    <a href="#" style="color:deepskyblue;text-align:center">
                                        <img src="~/home/img/Body/11.png" style="float:left" />
                                    </a>
                                </span>
                                <span class="ghimat">2.600 تومان</span>
                            </div>
                            <div class="fasl">
                                <span class="number" style="padding-right:18px;padding-left:18px">8</span>
                                <span style="padding-right:15px">ساخت جدول</span>
                                <span>
                                    <a href="#" style="color:deepskyblue;text-align:center">
                                        <img src="~/home/img/Body/11.png" style="float:left" />
                                    </a>
                                </span>
                                <span class="ghimat">3.300 تومان</span>
                            </div>
                            <div class="fasl">
                                <span class="number" style="padding-right:18px;padding-left:18px">9</span>
                                <span style="padding-right:15px">ساخت فرم ثبت نام</span>
                                <span>
                                    <a href="#" style="color:deepskyblue;text-align:center">
                                        <img src="~/home/img/Body/11.png" style="float:left" />
                                    </a>
                                </span>
                                <span class="ghimat">4.000 تومان</span>
                            </div>
                            <div class="fasl">
                                <span class="number" style="padding-right:17px;padding-left:17px">10</span>
                                <span style="padding-right:15px">ساخت یک سایت با Html</span>
                                <span>
                                    <a href="#" style="color:deepskyblue;text-align:center">
                                        <img src="~/home/img/Body/11.png" style="float:left" />
                                    </a>
                                </span>
                                <span class="ghimat">6.500 تومان</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane  fade" id="tabBody2" role="tabpanel" aria-labelledby="tab2" aria-hidden="true" tabindex="0">
                    <div class="row">
                        <div class="col-md-9 col-xs-9 col-sm-9">

                            <div style="direction:rtl">
                                <div class="row">
                                    <div class="side">
                                        <div>85%</div>
                                    </div>
                                    <div class="middle">
                                        <div class="bar-container">
                                            <div class="bar-5"></div>
                                        </div>
                                    </div>
                                    <div class="side right">
                                        <div style="padding-right:5px">پنج ستاره</div>
                                    </div>
                                    <div class="side">
                                        <div>8%</div>
                                    </div>
                                    <div class="middle">
                                        <div class="bar-container">
                                            <div class="bar-4"></div>
                                        </div>
                                    </div>
                                    <div class="side right">
                                        <div style="padding-right:5px">چهار ستاره</div>
                                    </div>
                                    <div class="side">
                                        <div>4%</div>
                                    </div>
                                    <div class="middle">
                                        <div class="bar-container">
                                            <div class="bar-3"></div>
                                        </div>
                                    </div>
                                    <div class="side right">
                                        <div style="padding-right:5px">سه ستاره</div>
                                    </div>
                                    <div class="side">
                                        <div>3%</div>
                                    </div>
                                    <div class="middle">
                                        <div class="bar-container">
                                            <div class="bar-2"></div>
                                        </div>
                                    </div>
                                    <div class="side right">
                                        <div style="padding-right:5px">دو ستاره</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-xs-3">
                            <div>
                                <span style="font-size:36px;text-align:center;padding:25px;padding-left:50px">
                                    4.7<br />
                                    <span style="font-size:13px;text-align:center">میانگین رای 2245 کاربر</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="alert alert-info">
                        <p style="direction:rtl;font-size:13px">
                            برای نظر دادن در مورد دوره
                            <a href="@Url.Action("login","User",null)" style="color:white">  وارد شوید</a>
                            یا
                            <a href="@Url.Action("login","User",null)" style="color:white">ثبت نام کنید</a>
                        </p>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-3 col-xs-3 col-sm-3">

                            <div style="direction:rtl;text-align:center">

                                <div class="author-img" style="height:50px;width:50px;margin-right:50px">
                                    <img src="~/home/img/Body/meysam.jpg" />
                                </div>
                                <h6>the_mai10</h6>
                                <h6>22.4.1375 ساعت 14:45</h6>
                            </div>
                        </div>
                        <div class="col-md-9 col-xs-9 col-sm-9">

                            <div style="direction:rtl;font-size:10px">

                                در این جلسه مقدمات و ملزومات طراحی سایت مورد بررسی قرار خواهد گرفت
                                در این جلسه مقدمات و ملزومات طراحی سایت مورد بررسی قرار خواهد گرفت
                                در این جلسه مقدمات و ملزومات طراحی سایت مورد بررسی قرار خواهد گرفت
                                در این جلسه مقدمات و ملزومات طراحی سایت مورد بررسی قرار خواهد گرفت
                                در این جلسه مقدمات و ملزومات طراحی سایت مورد بررسی قرار خواهد گرفت
                                در این جلسه مقدمات و ملزومات طراحی سایت مورد بررسی قرار خواهد گرفت

                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-3 col-xs-3 col-sm-3">
                            <div style="direction:rtl;text-align:center">

                                <div class="author-img" style="height:50px;width:50px;margin-right:50px">
                                    <img src="~/home/img/Body/meysam.jpg" />
                                </div>
                                <h6>the_mai10</h6>
                                <h6>22.4.1375 ساعت 14:45</h6>
                            </div>
                        </div>
                        <div class="col-md-9 col-xs-9 col-sm-9">

                            <div style="direction:rtl;font-size:10px">

                                در این جلسه مقدمات و ملزومات طراحی سایت مورد بررسی قرار خواهد گرفت
                                در این جلسه مقدمات و ملزومات طراحی سایت مورد بررسی قرار خواهد گرفت
                                در این جلسه مقدمات و ملزومات طراحی سایت مورد بررسی قرار خواهد گرفت
                                در این جلسه مقدمات و ملزومات طراحی سایت مورد بررسی قرار خواهد گرفت
                                در این جلسه مقدمات و ملزومات طراحی سایت مورد بررسی قرار خواهد گرفت
                                در این جلسه مقدمات و ملزومات طراحی سایت مورد بررسی قرار خواهد گرفت

                            </div>
                        </div>
                    </div>

                 
                    <hr />
                    <div class="row">
                        <div class="col-md-3 col-xs-3 col-sm-3">
                            <div style="direction:rtl;text-align:center">

                                <div class="author-img" style="height:50px;width:50px;margin-right:50px">
                                    <img src="~/home/img/Body/meysam.jpg" />
                                </div>
                                <h6>the_mai10</h6>
                                <h6>22.4.1375 ساعت 14:45</h6>
                            </div>
                        </div>
                        <div class="col-md-9 col-xs-9 col-sm-9">

                            <div style="direction:rtl;font-size:10px">

                                در این جلسه مقدمات و ملزومات طراحی سایت مورد بررسی قرار خواهد گرفت
                                در این جلسه مقدمات و ملزومات طراحی سایت مورد بررسی قرار خواهد گرفت
                                در این جلسه مقدمات و ملزومات طراحی سایت مورد بررسی قرار خواهد گرفت
                                در این جلسه مقدمات و ملزومات طراحی سایت مورد بررسی قرار خواهد گرفت
                                در این جلسه مقدمات و ملزومات طراحی سایت مورد بررسی قرار خواهد گرفت
                                در این جلسه مقدمات و ملزومات طراحی سایت مورد بررسی قرار خواهد گرفت

                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-3 col-xs-3 col-sm-3">
                            <div style="direction:rtl;text-align:center">

                                <div class="author-img" style="height:50px;width:50px;margin-right:50px">
                                    <img src="~/home/img/Body/meysam.jpg" />
                                </div>
                                <h6>the_mai10</h6>
                                <h6>22.4.1375 ساعت 14:45</h6>
                            </div>
                        </div>
                        <div class="col-md-9 col-xs-9 col-sm-9">

                            <div style="direction:rtl;font-size:10px">

                                در این جلسه مقدمات و ملزومات طراحی سایت مورد بررسی قرار خواهد گرفت
                                در این جلسه مقدمات و ملزومات طراحی سایت مورد بررسی قرار خواهد گرفت
                                در این جلسه مقدمات و ملزومات طراحی سایت مورد بررسی قرار خواهد گرفت
                                در این جلسه مقدمات و ملزومات طراحی سایت مورد بررسی قرار خواهد گرفت
                                در این جلسه مقدمات و ملزومات طراحی سایت مورد بررسی قرار خواهد گرفت
                                در این جلسه مقدمات و ملزومات طراحی سایت مورد بررسی قرار خواهد گرفت

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="padding-top:34px;border:1px solid lightgray;margin-top:65px">

        <div style="width:100%;background-color:white">
            <div style="direction:rtl;padding:10px">
                <h4 style="color:darkblue">اطلاعات این دوره</h4>
                <br />
                <ul style="list-style-type:none;line-height:2em">
                    <li>
                        <img src="~/home/img/7.png" style="padding-left:15px" /> تعداد فیلم ها :
                        <span style="float:left;padding-left:50px">10</span>
                    </li>
                    <li>
                        <img src="~/home/img/9.png" style="padding-left:15px" /> مدت زمان :

                        <span style="float:left;padding-left:50px">3:16:58</span>
                    </li>
                    <li>
                        <img src="~/home/img/8.png" style="padding-left:15px" />سطح :
                        <span style="float:left;padding-left:50px">مبتدی</span>
                    </li>
                    <li>
                        <img src="~/home/img/5.png" style="padding-left:15px" />   تعداد بازدید :
                        <span style="float:left;padding-left:50px">1041</span>
                    </li>                   
                </ul>
            </div>
            <hr />
            <div style="padding:10px">
                <h4 style="direction:rtl;color:darkblue">درباره مدرس</h4><br />
                <div class="author-img mb20" style="height:100px;width:100px;margin-left:100px">
                    <img src="~/home/img/Body/meysam.jpg" />
                </div>
                <div style="direction:rtl;font-size:12px;color:gray">
                    <p style="direction:rtl;font-size:12px;color:gray">
                        میثم سلیمی هستم مدرس طراحی سایت دارای گواهی تاییدیه از شرکت مایکروسافت و دانشگاه علم و صنعت ایران. بطور حرفه ای شش ساله که مشغول تدریس هستم
                        آماده پاسخگویی به سوالات شما هستم
                    </p>
                    <br />
                    <button class="form-control btn btn-primary" style="color:black;background-color:deepskyblue;border:none">ارسال پیام</button>
                </div>
            </div>
            <hr />
            <h4 style="direction:rtl;padding:10px;color:darkblue">سایر دوره ها</h4><br />
            <ul style="list-style-type:none;line-height:2em;direction:rtl">
                <a href="#">
                    <li>
                        <img src="~/home/img/Nav/ph.png" style="padding-left:15px;width:90px" />
                        <span style="float:left;padding-left:50px">آموزش ایلاستریتور</span>
                    </li>
                </a>
                <content>
                    <br />
                </content>
                <a href="#">

                    <li>
                        <img src="~/home/img/Nav/ph3.png" style="padding-left:15px;width:90px" />
                        <span style="float:left;padding-left:50px">آموزش فوتوشاپ</span>
                    </li>
                </a>
                <content>
                    <br />
                </content>
            </ul>
        </div>
    </div>
</div>


