<style>
    .btn1:hover{
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)!important;
        background-color:#fff!important;
        color:deepskyblue!important
    }
    .btn2:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19) !important;
        background-color: #fff !important;
        color: darkblue !important
    }
    .box1:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19) !important;
    }
</style>
@{
    ViewBag.Title = "سایت آموزشی فارسی پرشین لرنینگ";
}
<header>

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-12" style="text-align:center">

                <div id="myCarousel" class="carousel slide" data-ride="carousel" style="background-color:whitesmoke;margin-top:100px;margin-bottom:30px;border-radius:45px;opacity:0.9;padding-top:15px;padding-bottom:15px">
                    <div class="carousel-inner">

                        <div class="item active">

                            <div style="font-weight:bold;color:blue">صفر تا صد فوتوشاپ</div>
                            <h4><small>: مرور کلی</small></h4>
                            <ul style="direction:rtl;text-align:right;list-style-type:none;font-size:14px!important">
                                <li>
                                    <span class="fa fa-check"></span>&nbsp; معرفی فوتوشاپ
                                </li>
                                <li>
                                    <span class="fa fa-check"></span>&nbsp;کار با عکس ها
                                </li>
                                <li>
                                    <span class="fa fa-check"></span>&nbsp; ابزارهای فوتوشاپ
                                </li>
                                <li>
                                    <span class="fa fa-check"></span>&nbsp; آموزش ساخت قالب
                                </li>
                                <li>
                                    <span class="fa fa-check"></span>&nbsp;  و...
                                </li>
                            </ul>
                            <div style="text-align:right;padding-right:30px">
                                <h4>مدت : 42 قسمت 20 دقیقه ای</h4>
                                <h4>مدرس: ناصر ابراهیمی</h4>
                            </div>
                            <div class="author-img mb20" style="height:150px;width:150px;margin-left:150px">
                                <img src="~/home/img/Body/naser.jpg" />
                            </div>
                            <button style="border-radius:20px;color:white;background-color:deepskyblue;outline:none;margin-bottom:8px!important" href="#" class="btn btn-default btn1" type="button">افزودن به سبد خرید</button>
                            <button style="border-radius:20px;color:white;background-color:darkblue;outline:none;margin-bottom:8px!important" href="#" class="btn btn-danjer btn2" type="button">مشاهده جزئیات دوره</button>


                        </div>
                        <div class="item">
                            <div style="font-weight:bold;color:blue"> Asp.net mvc 6 دوره  فوق العاده</div>
                            <h4><small>: مرور کلی</small></h4>
                            <ul style="direction:rtl;text-align:right;list-style-type:none;font-size:14px!important">
                                <li>
                                    <span class="fa fa-check"></span>&nbsp;  معرفی کد فرست در پایگاه داده
                                </li>
                                <li>
                                    <span class="fa fa-check"></span>&nbsp; آموزش کاملا پیشرفته
                                </li>
                                <li>
                                    <span class="fa fa-check"></span>&nbsp; راه اندازی بخش پرداخت آنلاین
                                </li>
                                <li>
                                    <span class="fa fa-check"></span>&nbsp; طراحی پنل کاربری
                                </li>
                                <li>
                                    <span class="fa fa-check"></span>&nbsp; و...
                                </li>
                            </ul>
                            <div style="text-align:right;padding-right:30px">
                                <h4>مدت : 45 قسمت 30 دقیقه ای</h4>
                                <h4>مدرس: محمد مظاهری</h4>
                            </div>
                            <div class="author-img mb20" style="height:150px;width:150px;margin-left:150px">
                                <img src="~/home/img/Body/mohamad.jpg" />
                            </div>
                            <button style="border-radius:20px;color:white;background-color:deepskyblue;outline:none;margin-bottom:8px!important" href="#" class="btn btn-default btn1" type="button">افزودن به سبد خرید</button>
                            <button style="border-radius:20px;color:white;background-color:darkblue;outline:none;margin-bottom:8px!important" href="#" class="btn btn-danjer btn2" type="button">مشاهده جزئیات دوره</button>
 </div>
                        <!-- End Item -->
                        <div class="item">

                            <div style="font-weight:bold;color:blue">پک سئو و امنیت سایت</div>
                            <h4><small>: مرور کلی</small></h4>
                            <ul style="direction:rtl;text-align:right;list-style-type:none;font-size:14px!important">
                                <li>
                                    <span class="fa fa-check"></span>&nbsp; معرفی سئو
                                </li>
                                <li>
                                    <span class="fa fa-check"></span>&nbsp; موتور های جستجو
                                </li>
                                <li>
                                    <span class="fa fa-check"></span>&nbsp; نحوه بالا آمدن سایت در google
                                </li>
                                <li>
                                    <span class="fa fa-check"></span>&nbsp; موتور های جستجو
                                </li>
                                <li>
                                    <span class="fa fa-check"></span>&nbsp;  و...
                                </li>
                            </ul>
                            <div style="text-align:right;padding-right:30px">
                                <h4>مدت : 42 قسمت 30 دقیقه ای</h4>
                                <h4>مدرس: محدثه سجادی</h4>
                            </div>
                            <div class="author-img mb20" style="height:150px;width:150px;margin-left:150px">
                                <img src="~/home/img/Body/mohadese.jpg" />
                            </div>
                            <button style="border-radius:20px;color:white;background-color:deepskyblue;outline:none;margin-bottom:8px!important" href="#" class="btn btn-default btn1" type="button">افزودن به سبد خرید</button>
                            <button style="border-radius:20px;color:white;background-color:darkblue;outline:none;margin-bottom:8px!important" href="#" class="btn btn-danjer btn2" type="button">مشاهده جزئیات دوره</button>
 </div>
                        <!-- End Item -->
                        <div class="item">

                            <div style="font-weight:bold;color:blue"> آموزش طراحی سایت ریسپانسیو</div>
                            <h4><small>: مرور کلی</small></h4>
                            <ul style="direction:rtl;text-align:right;list-style-type:none;font-size:14px!important">
                                <li>
                                    <span class="fa fa-check"></span>&nbsp; آموزش Html 5
                                </li>
                                <li>
                                    <span class="fa fa-check"></span>&nbsp; آموزش Css 3
                                </li>
                                <li>
                                    <span class="fa fa-check"></span>&nbsp;   آموزش JQuery
                                </li>
                                <li>
                                    <span class="fa fa-check"></span>&nbsp;   آموزش Bootstrap
                                </li>
                                <li>
                                    <span class="fa fa-check"></span>&nbsp;   و...
                                </li>
                            </ul>
                            <div style="text-align:right;padding-right:30px">
                                <h4>مدت : 50 قسمت 25 دقیقه ای</h4>
                                <h4>مدرس: میثم سلیمی</h4>
                            </div>
                            <div class="author-img mb20" style="height:150px;width:150px;margin-left:150px">
                                <img src="~/home/img/Body/meysam.jpg" />
                            </div>
                            <button style="border-radius:20px;color:white;background-color:deepskyblue;outline:none;margin-bottom:8px!important" href="#" class="btn btn-default btn1" type="button">افزودن به سبد خرید</button>
                            <button style="border-radius:20px;color:white;background-color:darkblue;outline:none;margin-bottom:8px!important" href="#" class="btn btn-danjer btn2" type="button">مشاهده جزئیات دوره</button>
</div><!-- End Item -->
                    </div><!-- End Carousel Inner -->
                </div>
            </div>
        </div>
    </div>
    </header>
<br />
<div class="container row wow fadeInDown">
    <p class="col-lg-2" style="margin-top:25px;text-align:center;font-size:15px;padding:5px;background-color:white;border-radius:10px;border:1px solid lightgray;color:darkblue">فیلم های اخیر ما</p>
    <div class="col-lg-10" style="margin-top:40px;height:1px;background:lightgray"></div>
</div>
<div class="container row wow fadeInDown" style="margin-top:30px">

    <div class="col-lg-4" style="text-align:center">
        <div class="single-course" style="background-color:#fff">
            <video controls style="width:90%;padding-top:20px">
                <source src="~/home/video/4.mp4" type="video/mp4">
                <source src="mov_bbb.ogg" type="video/ogg">
                Your browser does not support HTML5 video.
            </video>
            <div style="position:absolute;top:10px;right:20px;background-color:deeppink;color:white;padding:6px">جدید</div>
            <div class="w3-container w3-center" style="padding-bottom:15px">
                <h5 style="color:darkblue">Node.js آموزش</h5>
                <h5>مدرس : میثم سلیمی</h5>
            </div>
        </div>
    </div>
    <div class="col-lg-4" style="text-align:center">
        <div class="single-course" style="background-color:#fff">
            <video controls style="width:90%;padding-top:20px">
                <source src="~/home/video/4.mp4" type="video/mp4">
                <source src="mov_bbb.ogg" type="video/ogg">
                Your browser does not support HTML5 video.
            </video>
            <div style="position:absolute;top:10px;right:20px;background-color:blueviolet;color:white;padding:6px">پیشنهاد</div>
            <div class="w3-container w3-center" style="padding-bottom:15px">
                <h5 style="color:darkblue">Node.js آموزش</h5>
                <h5>مدرس : میثم سلیمی</h5>
            </div>
        </div>
    </div>
    <div class="col-lg-4" style="text-align:center">
        <div class="single-course" style="background-color:#fff">
            <video controls style="width:90%;padding-top:20px">
                <source src="~/home/video/4.mp4" type="video/mp4">
                <source src="mov_bbb.ogg" type="video/ogg">
                Your browser does not support HTML5 video.
            </video>
            <div style="position:absolute;top:10px;right:20px;background-color:deepskyblue;color:white;padding:6px">پربازدید</div>
            <div class="w3-container w3-center" style="padding-bottom:15px">
                <h5 style="color:darkblue">Node.js آموزش</h5>
                <h5>مدرس : میثم سلیمی</h5>
            </div>
        </div>
    </div>
</div>
<!--ABOUT TOP CONTENT AREA-->
<section class="section-padding wow fadeInDown">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                <div class="text-center wow fadeIn">
                    <h2 class="xs-font20" style="color:darkblue">
                        سایت آموزشی فارسی
                        <span style="color:white;width:150px;padding-right:10px;
    color: white;
    font-size: 38px;
   
    font-weight: bold;
    font-family: 'A Afsaneh';
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
"><span style="color:rebeccapurple;">پی</span><span style="color:mediumvioletred">لرن</span></span>
                    </h2><br /><br />
                    <p style="font-size:16px;">
                        سایت پرشین لرنینگ(پی لرن) سایتی کاملا فارسی برای فارسی زبانان ایران و جهان است.
                        این سایت ارایه دهنده کاملترین مجموعه های کمیاب و یا حتی نایاب آموزشی جهان است که توسط بهترین و مجرب ترین اساتید هر زمینه گردآوری گردیده است
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--ABOUT TOP CONTENT AREA END-->
<!--FUN FACT AREA AREA-->
<section class="fun-fact-area center white relative padding-100-70" id="fact">
    <div class="area-bg" data-stellar-background-ratio="0.6"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-fun-fact mb30 wow fadeInUp" data-wow-delay="0.3s">
                    <img src="~/home/img/Body/1.png" id="i" />
                    <h4>مشاوره</h4>
                    <p style="font-size:12px;padding-top:10px!important">                کاربران می توانند در قسمت درباره ما و با انتخاب کارشناس مربوطه جهت مشاوره با وی تماس بگیرند</p>
                    <h3 class="font60 xs-font26"><span class="counter">10</span></h3>
                    <p class="font600"> مشاور</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-fun-fact mb30 wow fadeInUp" data-wow-delay="0.1s">
                    <img src="~/home/img/Body/2.png" id="i" />
                    <h4>دعوت به همکاری</h4>
                    <p style="font-size:12px;padding-top:10px!important">
                        از متخصصان زمینه های برنامه نویسی جهت تهیه دوره های آموزشی خود و تدریس دعوت به عمل می آید
                    </p>
                    <h3 class="font60 xs-font26"><span class="counter">20</span></h3>
                    <p class="font600">مدرس</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-fun-fact mb30 wow fadeInUp" data-wow-delay="0.2s">
                    <img src="~/home/img/Body/student.png" id="i" />
                    <h4 style="f">شرکت در دوره </h4>
                    <p style="font-size:12px;padding-top:10px!important">
                        دانشجویان و دانش آموزان می توانند با انتخاب و شرکت در دوره آموزشی مورد نظر کسب دانش نمایند
                    </p>
                    <h3 class="font60 xs-font26"><span class="counter">60</span></h3>
                    <p class="font600">دسته آموزشی</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-fun-fact mb30 wow fadeInUp" data-wow-delay="0.4s">
                    <img src="~/home/img/Body/4.png" id="i" />
                    <h4>ثبت نام</h4>
                    <p style="font-size:12px;padding-top:10px!important">
                        کاربران وهمکاران جهت استفاده از دوره های آموزشی باید در سایت ثبت نام نمایند و یا وارد شوند
                    </p>
                    <h3 class="font60 xs-font26"><span class="counter">900</span></h3>
                    <p class="font600">عضو فعال</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--FUN FACT AREA AREA END-->
<!--COURSE AREA-->

<section class="course-area padding-top wow fadeInDown" id="courses">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                <div class="area-title text-center wow fadeIn">
                    <h3 class="xs-font26" style="color:darkblue">محبوب ترین دوره های آموزشی</h3>
                </div>
            </div>
        </div>
        <div class="row course-list">
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 ">
                <div class="single-course mb20 box1" style="background-color:white">
                    <img src="~/home/img/Body/html.png" alt="">
                    <div class="course-details padding30">
                        <h3 class="font18" style="text-align:center;font-size:18px;color:darkblue"> Css 3 و Html 5آموزش </h3>
                        <p style="text-align:center;font-size:12px">سطح مبتدی با تدریس میثم سلیمی</p>
                        <p class="mt30"><a href="Htmlpage.html" class="enroll-button main-button icon-button" style="text-decoration:none">مشاهده پکیج</a><span style="color:deepskyblue" class="course-price"> 190000</span><span style="color:deepskyblue" class="course-price">تومان</span></p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                <div class="single-course mb20 box1" style="background-color:white">
                    <img src="~/home/img/Body/mvc.png" alt="">
                    <div class="course-details padding30">
                        <h3 class="font18" style="text-align:center;font-size:18px;color:darkblue"> Asp.net Mvc 6 آمورش </h3>
                        <p style="text-align:center;font-size:12px">سطح پیشرفته با تدریس محمد مظاهری</p>
                        <p class="mt30"><a href="#" class="enroll-button main-button icon-button" style="text-decoration:none">مشاهده پکیج</a><span style="color:deepskyblue" class="course-price"> 750000</span><span style="color:deepskyblue" class="course-price">تومان</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                <div class="single-course mb20 box1" style="background-color:white">
                    <img src="~/home/img/Body/seo.png" alt="">
                    <div class="course-details padding30">
                        <h3 class="font18" style="text-align:center;font-size:18px;color:darkblue">آموزش سیو و امنیت سایت</h3>
                        <p style="text-align:center;font-size:12px">سطح  پیشرفته با تدریس محدثه سجادی</p>
                        <p class="mt30"><a href="#" class="enroll-button main-button icon-button" style="text-decoration:none">مشاهده پکیج</a><span style="color:deepskyblue" class="course-price"> 150000</span><span style="color:deepskyblue" class="course-price">تومان</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                <div class="single-course mb20 box1" style="background-color:white">
                    <img src="~/home/img/Body/network.png" alt="">
                    <div class="course-details padding30">
                        <h3 class="font18" style="text-align:center;font-size:18px;color:darkblue">آمورش هک و تست نفوذ</h3>
                        <p style="text-align:center;font-size:12px">سطح مبتدی با تدریس رضا قربانی</p>
                        <p class="mt30"><a href="#" class="enroll-button main-button icon-button" style="text-decoration:none">مشاهده پکیج</a> <span style="color:deepskyblue" class="course-price"> 150000</span><span style="color:deepskyblue" class="course-price">تومان</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--COURSE AREA END-->
<!--BLOG AREA-->
<section class="blog-feed-area padding-top " id="blog">
    <div class="container">
        <div class="container row wow fadeInDown">
            <p class="col-lg-2" style="margin-top:25px;text-align:center;font-size:16px;padding:5px;background-color:white;border-radius:10px;border:1px solid lightgray;color:darkblue">مدرسین مربوطه</p>
            <div class="col-lg-10" style="margin-top:40px;height:1px;background:lightgray"></div>
        </div>
        
        <div class="row" style="margin-top:50px">
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <div class="single-blog-item sm-mb30 xs-mb30 wow fadeInUp" data-wow-delay="0.2s" style="background-image:url(/home/img/Body/55.png)">
                    <div class="blog-thumb">
                        <img src="~/home/img/Body/meysam.jpg" alt="">
                    </div>
                    <div class="blog-details padding30">
                        <h3 class="blog-title font20 mb30" style="text-align:center;font-size:22px"> میثم سلیمی </h3>
                        <p class="blog-meta font14 mt20" style="text-align:center;font-size:16px">
                            کارشناس علوم کامپیوتر
                            <br /> متخصص سمت کلاینت
                        </p>
                        <br />
                        <a href="#"><i id="i" class="fa fa-telegram" style="color:deepskyblue;font-size:20px"></i></a>
                        <a href="#"><i id="i" class="fa fa-instagram" style="color:deeppink;font-size:20px"></i></a>
                        <a href="#"><i id="i" class="fa fa-google-plus" style="color:red;font-size:20px"></i></a>
                        <a href="#"><i id="i" class="fa fa-whatsapp" style="color:lightgreen;font-size:20px"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <div class="single-blog-item sm-mb30 xs-mb30 wow fadeInUp" data-wow-delay="0.3s" style="background-image:url(/home/img/Body/55.png)">
                    <div class="blog-thumb">
                        <img src="~/home/img/Body/mohamad.jpg" alt="">
                    </div>
                    <div class="blog-details padding30">
                        <h3 class="blog-title font20 mb30" style="text-align:center;font-size:22px"> محمد مظاهری</h3>
                        <p class="blog-meta font14 mt20" style="text-align:center;font-size:16px">
                            کارشناس علوم کامپیوتر
                            <br /> متخصص سمت سرور
                        </p>
                        <br />
                        <a href="#"><i id="i" class="fa fa-telegram" style="color:deepskyblue;font-size:20px"></i></a>
                        <a href="#"><i id="i" class="fa fa-instagram" style="color:deeppink;font-size:20px"></i></a>
                        <a href="#"><i id="i" class="fa fa-google-plus" style="color:red;font-size:20px"></i></a>
                        <a href="#"><i id="i" class="fa fa-whatsapp" style="color:lightgreen;font-size:20px"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <div class="single-blog-item sm-mb30 xs-mb30 wow fadeInUp" data-wow-delay="0.4s" style="background-image:url(/home/img/Body/55.png)">
                    <div class="blog-thumb">
                        <img src="~/home/img/Body/mohadese.jpg" alt="">
                    </div>
                    <div class="blog-details padding30">
                        <h3 class="blog-title font20 mb30" style="text-align:center;font-size:22px">محدثه سجادی</h3>
                        <p class="blog-meta font14 mt20" style="text-align:center;font-size:16px">
                            کارشناس علوم کامپیوتر
                            <br /> متخصص سیو و بهنه سازی سایت
                        </p>
                        <br />
                        <a href="#"><i id="i" class="fa fa-telegram" style="color:deepskyblue;font-size:20px"></i></a>
                        <a href="#"><i id="i" class="fa fa-instagram" style="color:deeppink;font-size:20px"></i></a>
                        <a href="#"><i id="i" class="fa fa-google-plus" style="color:red;font-size:20px"></i></a>
                        <a href="#"><i id="i" class="fa fa-whatsapp" style="color:lightgreen;font-size:20px"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 hidden-sm">
                <div class="single-blog-item wow fadeInUp visible-sm" data-wow-delay="0.4s">
                    <div class="blog-thumb">
                        <a href="blog.html"><img src="~/home/img/5.png" alt=""></a>
                    </div>
                    <div class="blog-details padding30">
                        <h3 class="blog-title font20 mb30"><a href="blog.html">Blazeon Scrambles to Police Content Amid Rapid Growth</a></h3>
                        <p class="blog-meta font14 mt20"><a href="#">Feb 01, 2016  </a> by <a href="#">Mark Stonis</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br /><br />