@model Models.Professor

@{
    ViewData["Title"] = "Delete";
}



<h3>آیا از حذف این مورد مطمئنید ؟</h3>
<div>
    <h4>Professor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Evidence)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Evidence)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TopSkill)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TopSkill)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="حذف" class="btn btn-default" /> |
        <a class="btn btn-danger" asp-action="Index">بازگشت</a>
    </form>
</div>
